
    <!-- Можно разбить на колонки содержимое любого блока.
     В этом div.row созданы четыре колонки с анонсами постов -->

      <article class="col-12 col-md-6 col-xl-3">
        <div class="card">
          <h5 class="card-header">Автор: {{ post.author.get_full_name }}</h5>
          {% if post.group %}
          <h5><a href="{% url 'posts:group_list' post.group.slug %}" class="list-group-item list-group-item-action">Группа:{{ post.group }}</a></h5>
          {% endif %}
          <div class="card-body">
            <h6 class="card-subtitle">{{ post.pub_date|date:"d E Y" }}</h6>
            <p>
              {{ post.text|linebreaksbr|truncatewords:25 }}
            </p>
            <div class="d-grid gap-2 mx-auto">
              <a href="" class="btn btn-secondary">Читать целиком</a>
            </div>
          </div>
        </div>
      </article>

       






