{% extends 'base.html' %}
{% block title %}Вы вышли из системы{% endblock %}
{% block content %}
<div class="row justify-content-center">
<article class="col-12 col-md-6 col-xl-3">
  <div class="card">
    <h5 class="card-header">Выход</h5>
    <div class="card-body">
      <h6 class="card-subtitle"><center>Вы вышли из своей учётной записи. Ждём вас снова!</center></h6>
      <p>
      </p>
      <div class="d-grid gap-1 col-6 mx-auto">
        <a href="{% url 'users:login' %}" class="btn btn-secondary">Войти в учетную запись.</a>
      </div>
    </div>
  </div>
</div>
</article>
{% endblock %} 

